.baseInfo{
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    top: -27px;
    height: 790px;
    background-color: rgba(255,255,255,0.7);
}
#addJob a{
    color: white;
}
#cancelForm a{
    color: #353535;;
}