#fix_msg_button{
    margin-left:-300px;
    margin-top: 50px;
}

.put_photo_here{
    width: 150px;
    height: 150px;
    margin-top: -155px;
    margin-left: 50px;
    cursor:pointer;
}

#photo_logo{
    background-color: #dcd8d7;
    width: 150px;
    height:150px;
    border-radius: 10px;
}

#photo_camera{
    margin-left: 30px;
    margin-top: 30px;
}

#local_photo{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top:50px;
    border-radius: 10px;
}

.team_msg{
    width: 400px;
    height:400px;
    float: right;
    margin-top:-180px;
    margin-right: 200px;
}

.team_name{
    height: 100px;
    width: 400px;
}

.job_type{
    width: 100px;
    height: 100px;
    margin-top: -20px;
}

.add_type{
    margin-top:-100px;
    margin-left: 150px;
}

.team_number{
    margin-top: 30px;
    width: 200px;
    height: 100px;
}

.team_slogan{
    margin-top: -30px;
}

.complete_btn{
    margin-top: 30px;
}

#saveButton,#cancelButton{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    color: #000;
    background-color: #fff;
}

#saveButton:hover,#cancelButton:hover{
    color: #fff;
    background-color: #fb8c00;
}

#type_tag{
    margin-top: -100px;
    float: right;
    margin-right: -200px;
    width: 400px;
    height: 100px;
}

#type_tag .chip{
    background-color: #fff;
    color: orange;
    float: left;
}







