.comWidth {
    width:        970px;
    margin-left:  auto;
    margin-right: auto;

}

a:link {
    text-decoration: none;
    color:           #353535;
}

a:visited {
    color: #353535;
}
html{
    background-size: 100% auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
label{
    color: #353535;
    font-size: 16px;
}
/*----------------------------------导航栏-------------------------------------------------------------*/

#logo {
    height: 44px;
    margin: 10px;
}

a.topBarItem.dropdown-button.btn{
    width:            120px;
    background-color: transparent;
    box-shadow:       none;
    text-align:       right;
    padding-right:    6px;
}

.logo-name {
    margin:      10px 5px 5px 5px;
    font-size:   16px;
    line-height: 20px;
}

.search-bar {
    height: 100%;
}

.nav-wrapper li a {
    width:      100px;
    text-align: center;
}

.header {}

.fl {
    float: left;
}

.fr {
    float: right;
}

.topBar {
    top:         5%;
    height:      35px;
    font-size:   12px;
    line-height: 30px;
    background:  rgba(255, 255, 255, 0.5);
}

.topBar a {
    font-size: 14px;
    /*color:   #FF0000;*/
    cursor:    pointer;
}
.nav-wrapper a{
    color: #353535;
}
.header a {
    margin-left:  7px;
    margin-right: 5px;
    line-height:  35px;
}

.header .line {
    position:    relative;
    top:         3px;
    margin-left: 5px;
    font-weight: lighter;
    font-size:   20pt;
    line-height: 20px;
    color:       gray;
}

.mainBtn {
    margin: 20px 5px 20px 13px;
}



/*选择导航栏*/


.label{
    height: 80px;
    color: rgb(112, 112, 112);
    font-size: 16px;
    line-height: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.activeTag{
    background-color: rgb(244, 171, 35);

    margin-left: 10px;
}
.normalTag{
    background: transparent;
    margin-left: 10px;
}
.normalTag a{
    color: rgb(112, 112, 112);
    cursor: pointer;
}
.activeTag a{
    color: white;
    cursor: pointer;
}
.editBtnGroup{
    flex: 0 1 200px;
    line-height: 80px;
}
.editBtnGroup i{
    color: white;
}
#addBtn{
    margin-right: 20px;

}
#addBtn,#editBtn{
    height: 42px;
    width: 42px;
    line-height: 42px;
    background-color: rgb(244, 171, 35);
    color: white;
}
#addBtn i,#editBtn i{
    font-size: 28px;
    line-height: 42px;
}
#selectBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding-left: 30px;
    height: 80px;
    margin-bottom: 0px;
    transition:height 2s;
    -moz-transition:height 2s; /* Firefox 4 */
    -webkit-transition:height 2s; /* Safari and Chrome */
    -o-transition:height 2s; /* Opera */
}

#editBar{
    display: none;
    background-color: rgba(255,255,255,0.5);
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top:10px;
    padding-bottom: 10px;
    transition:height 2s;
    -moz-transition:height 2s; /* Firefox 4 */
    -webkit-transition:height 2s; /* Safari and Chrome */
    -o-transition:height 2s; /* Opera */
}
#selectBar .chip,.positionCard .chip{
    height: 25px;
    line-height: 25px;
}
.tags{
    order:0;
    flex: 1 1 auto;
}

form p{
    display: inline;
    color: black;
}
form p label{
    font-size: 1.3em;
    height: 25px;
    line-height: 25px;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
}
.buttonBar a{
    margin-left: 10px;
    margin-right: 10px;
}
#saveEdit{
    background-color: rgb(244, 171, 35);
    color: white;
}
#cancelEdit{
    background-color: white;
    color: black;
}
form .buttonBar{
    margin-top: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

/*每一个卡片的显示*/

.positionCard{
    height: 120px;
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.nameBar{
    order: 0;
    flex: 0 1 300px;
}
.descBar{
    order: 1;
    flex: 0 1 200px;
}
.positionCard:nth-child(odd){
    background-color: white;
}
.positionCard label{
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.positionCard .row{
    height: 46px;
    margin-bottom: 5px;
}

.positionName{
    position: relative;
    left: 0;
    top: 0;
    font-size: 24px;
    cursor: pointer;
}
.positionName a{
    font-size: 24px;
    color: rgb(112, 112, 112);
}
.salary{
    font-size: 16px;
    color: rgb(244, 171, 35);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
}
.required{
    /*  position: relative;
      top: 60px;
      left: -300px;*/
    margin-left: 30px;
    margin-top: 10px;
}
.submitted{
    text-align: center;
    width: 63px;
    margin-left: 30px;
    background-color: rgb(101, 197, 219);
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.temperory{
    text-align: center;
    width: 63px;
    margin-left: 30px;
    background-color: rgb(112, 112, 112);
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mamageBtn,.deleteBtn{
    /*margin-right: 20px;*/
    display: block;
    margin-bottom: 20px;
}
.btngroups{
    order: 2;
    flex:1 1 auto;
    text-align: right;
}
.editInfoBtn,.delJobBtn{
    display: block;
    height: 30px;
    width: 100px;
    margin-left: auto;
    padding: 5px 35px;
    color: white;

}
.editInfoBtn{
    background-color: rgb(66, 168, 82);
}
.delJobBtn{
    background-color: rgb(231, 56, 40);
    margin-top: 10px;
}
/*页码的显示*/
.pageNum{
    position: relative;
    top: -20px;
    width: 320px;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.activePage{
    background-color: transparent;
    text-decoration: underline;
}

/*－－－－－－－－－－－－－－－－－－－管理编辑页面的样式－－－－－－－－－－－－－－－－－－－－－－*/
.baseInfo input,input[type=text]:disabled,input[type=text].valid,.baseInfo input[type=text]:focus{
    border-bottom: 1px solid rgb(244, 171, 35);
    color: rgb(180, 180, 180);
    box-shadow: none;
}
.select-wrapper input.select-dropdown{
    border-bottom: 1px solid rgb(244, 171, 35);
}
.row .col .provinceClass{
    padding: 0;
}
.detailAddress .input-field{
    margin-top: 0;
}
.select-wrapper span.caret{
    color: rgb(244, 171, 35);
}
.baseInfo input[type=text]:focus + label{
    color: rgb(244, 171, 35);
}
.typeClass .disabled span{
    color: rgb(180, 180, 180);
}
.mainForm .manageForm{
    padding: 0;
}
.positionType select{
    display: block;
}
.initialized{
    display: none;
}
.address select{
    display: inline-block;
}
hr{
    display: block;
    width: 100%;
}
.radioGroup{
    width: 415px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
#saveForm,#addJob{
    margin-right: 40px;
    background-color: rgb(244, 171, 35);
}
#cancelForm{
    margin-left: 40px;
    background-color:white;
    color: #353535;
}
.baseInfo{
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    height: 700px;
    background-color: rgba(255,255,255,0.7);
}
.requirementDiv{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    top: -27px;
    min-height: 320px;
    background-color:rgb(255,255,255);
}
.descText{
    color: rgb(244, 171, 35);
    padding-left: 10px;
}

.buttonDiv{
    /* position: relative;
     top: -27px;*/
    height: 126px;
    line-height: 126px;
    color: #353535;
    font-size: 16px;
}
.submitBtnGroup{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
.divide{
    text-align: center;
    height: 76px;
    line-height: 76px;
    font-size: 1.5em;
    width: 5%;
}
.add{
    position: relative;
    color: #353535;
    font-size: 16px;
    top: -100px;
    left: 240px;
}


/*新增职位页面的样式*/
.prescribe{
    color: red;
    font-size: 16px;
    margin-right: 50px;
}

#manageDiv{
    display: none;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after,[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after{
    border: 2px solid rgb(244, 171, 35);
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after{
    background-color: rgb(244, 171, 35);
}


