body{
    background-image: url(../../res/imgs/bg.svg);
    background-size: 100% auto;
}
#max{
	width: 970px;
	margin: 0 auto;
	height: 1000px;
}
#head{
	height: 25px;
	line-height: 25px;
	text-align: right;
}


#team_home_div{
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: blue;
}
#logo{
	float: left;
}
#logo_piture{
	height: 46px;
	width: 46px;
	border-radius: 23px;
	border: 1px black solid;
	margin-top: 12px;
	display: block;
	float: left;
}
#name{
	line-height: 70px;
	float: left;
	background-color: red;
}
#Resume_management{
	float:right;
	width: 80px;
}
#Position_management{
	float:right;
	width: 80px;
}
#project_management{
	float:right;
	width: 80px;
}
#team_logo{
	width: 165px;
	height: 100px;
	border:1px block solid;
	margin: 10px 20px 10px 20px;
	display: block;
	float: left;
}
#banner{
	width: 875px;
	background-color: white;
	height: 70px;
	  -webkit-box-shadow:0 0 10px gray;  
  	-moz-box-shadow:0 0 10px gray;  
 	 box-shadow:0 0 10px gray;
}
#information{
	width: 970px;
	background: rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
	height: 120px;
	margin-top: 5px;
}
#information_two{
	width: 250px;
	height: 100px;
	border:1px block solid;
	margin: 10px 20px 10px 50px;
	float: left;
}
#information_three{
	padding-left: 50px;
	width: 300px;
	height: 100px;
	border:1px block solid;
	margin: 10px 20px 10px 120px;
	float: left;
}
.tag_even{
	width: 70px;
	height: 40px;
	border-radius: 10px;
	float: left;
	line-height: 40px;
	text-align: center;
	font-size: 10px;
	margin: 2px 5px;
	background-color:rgb(255,147,74);
	color: white;
}
.tag_odd{
	width: 70px;
	height: 40px;
	border-radius: 10px;
	float: left;
	line-height: 40px;
	text-align: center;
	font-size: 10px;
	margin: 2px 5px;
	background-color:white;
	color: rgb(255,147,74);
}
.team_home{
	line-height: 50px;
}
#test{
	width: 450px;
	height: 45px;
	float: left;
}
#left{
	width: 620px;
	float: left;
	margin-right: 10px;
}
#right{	
	height: 550px;
	width: 335px;
	float: left;
	background-color: white;
	  -webkit-box-shadow:0 0 10px gray;  
  	-moz-box-shadow:0 0 10px gray;  
 	 box-shadow:0 0 10px gray;
}
#main_left_top{
	height: 200px;
	width: 620px;
	margin-bottom: 10px;
	background-color: white;
	  -webkit-box-shadow:0 0 10px gray;  
  	-moz-box-shadow:0 0 10px gray;  
 	 box-shadow:0 0 10px gray;
}
#main_left_middle_one{
	margin-bottom: 10px;
	width: 620px;
	background-color: white;
	  -webkit-box-shadow:0 0 10px gray;  
  	-moz-box-shadow:0 0 10px gray;  
 	 box-shadow:0 0 10px gray;
}
#main_left_middle_two{
	width: 620px;
	height: 310px;
	padding-top: 10px;
	background-color: white;
	  -webkit-box-shadow:0 0 10px gray;  
  	-moz-box-shadow:0 0 10px gray;  
 	 box-shadow:0 0 10px gray;
 	 padding: 20px;
}
.piture{
	height: 160px;
	width: 380px;
}
.fanxiang{
	font-size: 20px;
}
#fanxiang_left{
	margin-left: 30px;
	margin-top:30px;
	display: block;
	float: left;
}
#fanxiang_right{
	margin-top:30px;
	display: block;
	float: left;
}
#main_right_one{
	padding-top: 30px;
	padding-left: 30px;
	height: 340px;
}
#main_right_two{
}
.Head_portrait{
	height: 80px;
	width: 80px;
	border-radius: 80px;
	border: 1px black solid;
	margin: 5px 25px;
}
#leader{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	border: 1px black solid;
	margin: 5px 80px;
}
#member_information{
	height: 160px;
	width: 160px;
	margin-left: 80px;
}
.team_tag{
	height: 25px;
	width: 70px;
	border-radius: 5px;
	border: 1px black solid;
	float: left;
	text-align: center;
	margin: 5px 10px 10px 10px;
}
.team_tag_left{
	margin-left: 70px;
}
.nodisplay{
	display: none;
}
.four{
	color:#353535;
	font-size: 24px;
	float: left;
	width: 148px;
	height: 50px;
	text-align:center;
	line-height: 50px;
	background-color:white;
	margin-right: 10px;
	  -webkit-box-shadow:0 0 10px gray;  
  	-moz-box-shadow:0 0 10px gray;  
 	 box-shadow:0 0 10px gray;
}
.float{
	height: 50px;
	line-height: 50px;
	padding-left: 30px;
	padding-top: 20px;
	font-size: 30px;  
}
.textarea{
	padding: 30px;
}
.link{
	float: right;
	padding: 0px 2px;
	border-left: 1px black solid;
}
#Team_project_div{
	height: 800px;
	width: 980px;
	background-color: white;
	margin-top: 50px;
	text-align: center;
	line-height: 800px;
}
#Demand_for_jobs_div{
	height: 800px;
	width: 980px;
	background-color: white;
	margin-top: 50px;
	text-align: center;
	line-height: 800px;
}
#Recently_div{
	height: 800px;
	width: 980px;
	background-color: white;
	margin-top: 50px;
	text-align: center;
	line-height: 800px;
}
div.chip {
position: relative;
float: right;
margin-right: 5px;
margin-top: 10px;
}
.four_need_medium{
	float: left;
	margin-left: 35px;
	margin-top: 4px;
}
