/*投递页面的css*/

/*－－－－－－－－－－－－－－－－－－－－－－－－状态选择拦－－－－－－－－－－－－－－－－－－*/
div.col.s10.stateBar{
    margin-top: 8px;
    padding: 0;
}
.selectBar{
    padding-top: 20px;
    padding-right: 50px;
}
.jobCard{
    min-height: 112px;
    padding: 27px 46px 20px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}
.jobCard:nth-child(odd){
    background-color: rgba(255,255,255,1.0);
}
#entire,#unchecked,#uncontact,#unquiz,#admitted,#unsuit{
    padding: 0;
}
.stateBar .tabs .tab .selectTab{
    color: rgb(244, 171, 35);
}
.tabs .indicator{
    background-color: rgb(244, 171, 35);
}
.nameBar{
    order: 0;
    flex: 0 1 160px;
}
.nameBar a{
    cursor: pointer;
}
.tab .active{
    border-bottom: rgb(244, 171, 35) 2px solid;
}
.chip{
    color: white;
    width: 80px;
    font-weight: lighter;
    text-align: center;
    display: inline-block;
}
.unchChip{
    background-color: rgb(105, 193, 175);
}
.unconChip{
    background-color: rgb(245, 209, 59);
}
.unquChip{
    background-color: rgb(101, 197, 291);
}
.admChip{
    background-color: rgb(66, 168, 82);
}
.unsuitChip{
    background-color: rgb(180, 180, 180);
}
.flushBar i{
    color: white;
    position: relative;
    top: -3px;
    left: 2px;
}

#flushBtn{
    background-color: rgb(244, 171, 35);
    height: 32px;
    width: 32px;
    border-radius: 16px;
    cursor: pointer;
    padding-top: 5px;
    position: relative;
    top: 5px;
}
div.col.s10.stateBar{
    height: 44px;
    margin-top: 0;
}
.text{
    height: 30px;
    width: 42px;
}
.text span{
    position: relative;
    top: -8px;
    font-size: 20px;
}
.jobName{
    font-size: 24px;
}
.chageTime{
    order: 4;
    flex: 1 1 auto;
    text-align: right;
}
.descBar{
    order: 1;
    flex:0 1 150px;
    justify-content: flex-end;
    text-align: right;
}
.firmName{
    margin-top: 10px;
}
.money{
    color: rgb(244, 171, 35);
    margin-top: 5px;
}
.min,.max{
    color: rgb(244, 171, 35);

}
.questionMark{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(244, 171, 35);
    color: white;
    font-size: 20px;
    line-height: 20px;
    padding-left: 5px;
    order: 2;
    flex: 0 1 20px;
    margin-left: 40px;
}
.tips{
    order: 3;
    flex: 0 1 50%;
    margin-left: 20px;
    color: rgb(180, 180, 180
    );
}
.newNum{
    display: inline-block;
    margin-left:5px;
    color: white;
    background-color: #ff8f00;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    border-radius: 50%;
    visibility:hidden;
}