/*投递页面的css*/

/*－－－－－－－－－－－－－－－－－－－－－－－－状态选择拦－－－－－－－－－－－－－－－－－－*/
div.col.s10.stateBar{
    margin-top: 8px;
    padding: 0;
}
.selectBar{
    height: 144px;
    background-color: rgba(255,255,255,0.4);
}
.jobCard{
    margin-top: 8px;
    min-height: 112px;
    background-color: rgba(255,255,255,1.0);
    padding: 27px 46px 20px 70px;

}
#entire,#unchecked,#uncontact,#unquiz,#admitted,#unsuit{
    padding: 0;
}
.nameBar a{
    cursor: pointer;
}
.tab .active{
    border-bottom: #f9c9cb 2px solid;
}
.chip{
    color: white;
    float: right;
    width: 63px;
    text-align: center;
}
.unchChip{
    background-color: #fcc02e;
}
.unconChip{
    background-color: #03a9f5;
}
.unquChip{
    background-color: #67bc69;
}
.admChip{
    background-color: #ff8f00;
}
.unsuitChip{
    background-color: #939393;
}
.flushBar{
    height: 96px;
    padding: 15px 44px 20px 74px;
}
.flushBar i{
    color: #ff8f00;
}
#flushBtn{
    cursor: pointer;
    padding-top: 5px;
}
div.col.s10.stateBar{
    height: 44px;
    margin-top: 0;
}
.text{
    height: 30px;
    width: 42px;
}
.text span{
    position: relative;
    top: -8px;
    font-size: 20px;
}
.jobName{
    font-size: 24px;
}
.chageTime{
    float: right;
}
.descBar{
    margin-top: 14px;
}
.money{
    margin-left: 50px;
    color: #ff8f00;
}
.min,.max{
    color: #ff8f00;

}
.newNum{
    display: inline-block;
    margin-left:5px;
    color: white;
    background-color: #ff8f00;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    border-radius: 50%;
    visibility:hidden;
}