* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

#basic-info {
    zoom: 1;
}

/*==for IE6/7 Maxthon2==*/
#basic-info:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

#stu-main {
    width: 970px;
    margin: auto;
}

#basic-info, #other-info {
    width: 970px;
    background: transparent;
}

#basic-info {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 70px;

}

#list2 {
    margin-left: 170px;
    width: 650px;
}

#other-info {
    margin-bottom: 50px;
}

.detail-info {
    width: 650px;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
}

#detail-name {
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    vertical-align: bottom;
}

#detail-age, #detail-sex {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    vertical-align: bottom;
}

#detail2, #detail3 {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

#detail2 > span {
    display: inline-block;
    margin-right: 5px;
}

#detail3 > span {
    font-size: 16px;
    color: #ff8f00;
    margin-right: 10px;
    background-color: #ffffff;
}

#detail4 {
    font-weight: bold;
    margin-top: 93px;
    height: 27px;
    font-size: 16px;
}

/*下面部分是档案部分的css*/
#basic-info {
    margin-bottom: 5px;
}

.file {
    width: 770px;
    margin-bottom: 5px;
    padding: 30px 70px 30px 70px;
    background-color: #ffffff;
}

.file-title {
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
}

.file-icon {
    height: 24px;
    display: inline-block;
    border-left: 24px solid #ff8f00;
    border-top: 12px solid #ffffff;
    border-bottom: 12px solid #ffffff;
    margin-left: 8px;
    vertical-align: top;
}

.file-detail {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

#edu-show > p {
    margin-bottom: 5px;
}

/*-------实习经历部分的css-------*/
.prac-show > p:nth-child(1) {
    margin-bottom: 8px;
}

.prac-show > p > span {
    margin-right: 10px;
}

.prac-show > p:nth-child(2) {
    margin-bottom: 15px;
}

#file-practice > .file-detail > div:nth-child(n+2) {
    display: none;
}

/*-------项目经历部分的css-------*/

.proj-show > p:nth-child(1) {
    margin-bottom: 8px;
}

.proj-show > p > span {
    margin-right: 10px;
}

.proj-show > p:nth-child(2) {
    margin-bottom: 15px;
}

#file-project > .file-detail > div:nth-child(n+2) {
    display: none;
}

/*-------作品集部分的css-------*/
.works-show > p {
    font-size: 16px;
    text-align: center;
}

.works-show > p:nth-child(1) {
    margin-bottom: 10px;
}

.works-show > p:nth-child(2) {
    margin-bottom: 15px;
}

/*-------技能部分的css-------*/
.skill-detail {
    width: 430px;
}

.skill-show {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
}

.skill-show>span:nth-child(1){
    width:100px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
}

.skill-show>span:nth-child(3){
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    width: 80px;
    text-align: right;
}

.progress {
    display: inline-block;
    margin:0;
    vertical-align: middle;
    height:6px;
    background-color: lightgray;
}

.progress .determinate{
    background-color:#ff8f00;
}

/*右边导航栏*/
#nav-list{
    width:200px;
}

.circle1{
    position: absolute;
    width:14px;
    height:14px;
    border-radius: 50%;
    background-color:#ff8f00;
    top:3px;
    left:3px;
}

.circle2{
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:#ffffff;
    top:2px;
    left:2px;

}
.circle3{
    position: relative;
    width:24px;
    height:24px;
    border-radius: 50%;
    background-color:#ff8f00;
    margin-left: 15px;
}

#cir2a,#cir3a,#cir4a,#cir5a,#cir2b,#cir3b,#cir4b,#cir5b{
    background-color: transparent;
}

#choice1{
    font-weight: bold;
}

.list-choice{
    float: left;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    margin-left: 60px;
}

.circle3:hover{
    cursor: pointer;
}

footer:hover{
    cursor: pointer;
}

/*有关图标*/
#edit-icon{
    background-color:#ffffff;
    float:right;
    margin-right:20px;
margin-top:-10px;
}

#edit-icon>i{
    color:#ff8f00;
}

#cancel-icon{
    background-color:#ffffff;
}

#cancel-icon>i{
    color:#ff8f00;
}

#detail4 .btn-floating.btn-large {
    width: 27px;
    height:27px;
    margin-left:20px;
}
#detail4 .btn-floating.btn-large i {

    margin-top:-20px;
    line-height: 5px;
}
.btn-large {
line-height: 41px;
}