#check {
    text-align: right;
    margin-left: 220px;
    margin-top: -40px;
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 6px;
    color: black;
    width: 77px;
    height: 30px;
    background-color: orangered;
    cursor: pointer;  /*CSS的改变光标的属性*/
}