p{
    margin: 0;
}

html{
    background: none;
}

/*导航栏的样式在这里修改*/
.header{
    min-width: 980px;
    height: 35px;
    background-color: rgb(242,242,242);
    padding: 2px;
}

.header a {
    padding-right: 5px;
    line-height: 35px;
    cursor: pointer;
}

.header a:link {
    text-decoration: none;
    color: rgb(112, 112, 112);
}

.header a:visited {
    color: rgb(112, 112, 112);
}

.aboutWe{
    float: left;
}

.userLogin{
    float: right;
}

/*首页导航栏*/
.guideBar{
    min-width: 980px;
    padding: 10px 30px 3px 0;
    height: 75px;
}

.nav{
    float: left;
}


#home_title{
    display: inline-block;
    color: rgb(244, 171, 35);
    font-size: 32px;
    margin-left: 100px;
}

#home_subtitle{
    display: inline-block;
    margin-left: 10px;
    color: rgb(244, 171, 35);
    font-size: 17px;
}

#homePage{
    font-size: 25px;
    color: rgb(244, 171, 35);
    display: inline-block;
    margin-left: 100px;
    height: 50px;
    cursor: pointer;
}

#teamPage{
    font-size: 25px;
    color: rgb(244, 171, 35);
    display: inline-block;
    margin-left: 100px;
    height: 50px;
    border-bottom: 3px solid ;
    cursor: pointer;
}

#studentPage{
    font-size: 25px;
    color: rgb(244, 171, 35);
    display: inline-block;
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
}


.nav_blank{
    min-width: 980px;
    height: 80px;
    background-image: url('../../../res/imgs/team/team_bg.jpg');
}

/*观点和团队基本信息*/
/*.opinion_nav{*/
    /*min-height: 280px;*/
    /*min-width: 980px;*/
    /*!*border: 1px solid;*!*/
/*}*/

/*.nav_content{*/
    /*width: 960px;*/
    /*min-height: 260px;*/
    /*margin: 10px auto;*/
    /*overflow: hidden;*/
    /*!*border: 1px solid;*!*/
/*}*/

/*.opinion_msg{*/
    /*float: left;*/
    /*min-height: 220px;*/
    /*width: 600px;*/
    /*margin: 20px 4px;*/
    /*border-right: 2px solid;*/
    /*!*border: 1px solid;*!*/
/*}*/

/*.question_icon{*/
    /*width: 40px;*/
    /*height: 40px;*/
/*}*/

/*.question_title{*/
    /*font-size: 18px;*/
    /*margin-left: 20px;*/
    /*text-align: center;*/
    /*color:rgb(112,112,112);*/
/*}*/

/*.topic_detail{*/
    /*!*border: 1px solid;*!*/
    /*padding:10px 0 10px 70px;*/
    /*min-height: 115px;*/
/*}*/

/*.topic_detail p{*/
    /*color:rgb(112,112,112);*/
/*}*/

/*.topic_function{*/
    /*!*border: 1px solid;*!*/
    /*height: 65px;*/
    /*padding: 32px 0 0 70px;*/
/*}*/

/*#leave_msg{*/
    /*background-color:  rgb(244,171,35);*/
/*}*/

/*#online_people_num{*/
    /*display: inline-table;*/
    /*height: 36px;*/
    /*margin-left: 20px;*/
    /*padding-top: 15px;*/
    /*color:rgb(180,180,180);*/
    /*vertical-align: middle;*/
/*}*/

/*.topic_agree_icon{*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*margin-left: 200px;*/
    /*cursor: pointer;*/
/*}*/


/*.topic_agree_num{*/
    /*display: inline-table;*/
    /*height: 30px;*/
    /*color: rgb(244,171,35);*/
    /*font-size: 18px;*/
    /*vertical-align: bottom;*/
/*}*/


/*.team_basic_msg{*/
    /*float: left;*/
    /*margin: 20px 4px;*/
    /*min-height: 220px;*/
    /*width: 340px;*/
    /*!*border: 1px solid;*!*/
/*}*/

/*.team_nav_img{*/
    /*height: 110px;*/
    /*width: 70px;*/
    /*!*border:1px solid;*!*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

/*#team_logo{*/
    /*height: 70px;*/
    /*width: 70px;*/
    /*border-radius: 70px;*/
/*}*/

/*#team_name{*/
    /*font-size: 16px;*/
    /*text-align: center;*/
    /*color:rgb(112,112,112);*/
/*}*/

/*.team_label_div{*/
    /*width: 340px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*min-height: 45px;*/
    /*!*border: 1px solid;*!*/
    /*text-align: center;*/
    /*padding-bottom: 4px;*/
/*}*/

/*.team_label{*/
    /*background-color: rgb(244,171,35);*/
    /*font-size: 13px;*/
    /*width: 90px;*/
    /*margin-top: 4px;*/
    /*margin-left: 2px;*/
    /*color: #fff;*/
    /*border-radius: 10px;*/
    /*text-align: center;*/
/*}*/

/*.contact{*/
    /*margin-top: 2px;*/
    /*height: 30px;*/
    /*width: 300px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*!*border:1px solid;*!*/
/*}*/

/*.contact:last-child{*/
    /*margin-top: 5px;*/
/*}*/

/*.contact i{*/
    /*font-size: 30px;*/
    /*color: rgb(244,171,35);*/
/*}*/


/*#web_site,#mail_address{*/
    /*margin-left: 10px;*/
    /*font-size: 17px;*/
    /*display: inline-table;*/
    /*vertical-align: top;*/
    /*color: rgb(112,112,112);*/
    /*!*border: 1px solid;*!*/
/*}*/

/*#web_site a{*/
    /*color: rgb(112,112,112);*/
    /*font-size: 17px;*/
/*}*/

/*观点和团队基本信息*/
.opinion_nav{
    min-height: 280px;
    min-width: 980px;
    /*border: 1px solid;*/
}

.nav_content{
    width: 960px;
    min-height: 260px;
    margin: 10px auto;
    overflow: hidden;
    /*border: 1px solid;*/
}

.opinion_msg{
    float: left;
    min-height: 220px;
    width: 600px;
    margin: 20px 4px;
    /*border: 1px solid;*/
}

.question_icon{
    width: 40px;
    height: 40px;
}

.question_title{
    font-size: 18px;
    margin-left: 20px;
    text-align: center;
    color:rgb(112,112,112);
}

.topic_detail{
    /*border: 1px solid;*/
    padding:10px 0 10px 70px;
    min-height: 115px;
}

.topic_detail p{
    color:rgb(112,112,112);
}

.team_basic_msg{
    float: left;
    margin: 20px 4px;
    min-height: 220px;
    width: 340px;
    border-left: 2px solid;
}

.team_nav_img{
    height: 110px;
    width: 70px;
    /*border:1px solid;*/
    margin-left: auto;
    margin-right: auto;
}

#team_logo{
    height: 70px;
    width: 70px;
    border-radius: 70px;
}

#team_name{
    font-size: 16px;
    text-align: center;
    color:rgb(112,112,112);
}

.team_label_div{
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    min-height: 45px;
    /*border: 1px solid;*/
    text-align: center;
    padding-bottom: 4px;
}

.team_label{
    background-color: rgb(244,171,35);
    font-size: 13px;
    width: 90px;
    margin-top: 4px;
    margin-left: 2px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.contact{
    margin-top: 2px;
    height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    /*border:1px solid;*/
}

.contact:last-child{
    margin-top: 5px;
}

.contact i{
    font-size: 30px;
    color: rgb(244,171,35);
}


#web_site,#mail_address{
    margin-left: 10px;
    font-size: 17px;
    display: inline-table;
    vertical-align: top;
    color: rgb(112,112,112);
    /*border: 1px solid;*/
}

#web_site a{
    color: rgb(112,112,112);
    font-size: 17px;
}

/*使用多说的评论区*/
.comment_area_div{
    min-width: 980px;
}

#commit_area{
    width: 940px;
    margin: auto;
}




