.main {
    width: 560px;
    position: fixed;
    margin-left: -280px;
    padding-top: 40px;
    top: 70px;
    left: 50%;
    border: gray solid 1px;
    border-radius: 10px;
}

#title {
    font-size: 15px;
    width: 280px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.mail-show{
        margin: auto;
    width: 320px;
}
#email {
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: "宋体";
    width: 320px;
    height: 38px;
    margin-bottom: 20px;
}


#conf,#conf-mail {
    margin: auto;
    display: block;
    width: 320px;
    margin-bottom: 40px;
    height: 40px;
    background-color: orange;
    border: none;
}

#mail-conf,
#pwd {
    display: none;
}

.conf-show {
    width: 320px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 orange;
}

.input-field input[type=text]:focus + label {
    color: orange;
}

.input-field input[type=password]:focus + label {
    color: orange;
}

.input-field label {
    left: 0;
}
