* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.main {
    width: 560px;
    position: fixed;
    margin-left: -280px;
    padding-top: 40px;
    top: 70px;
    left: 50%;
    border: gray solid 1px;
    border-radius: 10px;
}

.login-form {
    width: 320px;
    margin: auto;
}

.login-view>input {
    font-size: 20px;
    font-family: "宋体";
    width: 320px;
    height: 38px;
    margin-bottom: 20px;
}

#pwd-find {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}

#login-conf {
    width: 320px;
    margin-bottom: 10px;
    height: 40px;
    background-color: orange;
    border: none;
}

#regi {
    font-size: 15px;
    height: 20px;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 orange;
}

.input-field input[type=text]:focus + label {
    color: orange;
}

.input-field input[type=password]:focus + label {
    color: orange;
}

.input-field label {
    left: 0;
}
