
/*-------------------------------------------居中公用类------------------------------------------------------*/
.comWidth {
    position: relative;
    width:100%;

}
body{
    background-color: rgb(242,242,242);
}
*{
    color: rgb(112,112,112);
}

/*---------------------------------------公用代码－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
a:link {
    text-decoration: none;
    color: rgb(112, 112, 112);
}

a:visited {
    color: rgb(112, 112, 112);
}

.z-depth {
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
}


/*箭头样式*/
.preBtn i,.nextBtn i,.preBtnOfTeams i,.preBtnOfProject i,.nextBtnOfProject i,.nextBtnOfTeams i{
    visibility: hidden;
    color: rgb(112, 112, 112);
    /*visibility: visible;*/
}
.preBtn:active{
    background-color: transparent;
    color: rgb(112, 112, 112);
}
.selectedIndex{
    background: transparent;
    border-bottom: rgb(244, 171, 35) 2px solid;
}
/*----------------------------------导航栏-------------------------------------------------------------*/
.indexBar li{
    display: inline-block;

}
.indexBar{
    margin:0;
}
#logo {
    height: 44px;
    margin: 10px;
}

.logo-name {
    margin: 10px 5px 5px 5px;
    font-size: 16px;
    line-height: 20px;
}

.search-bar {
    height:100%;
}
.nav-wrapper{
    padding-left: 60px;
}
.nav-wrapper li a {
    /*width: 100px;*/
    text-align: center;
    height:64px;
    color: rgb(244, 171,35);
}
a.topBarItem.dropdown-button.btn {
    width: 120px;
    background-color: transparent;
    box-shadow: none;
    text-align: right;
    padding-right: 6px;
}
.indexTab:hover{
    background: transparent;
    border-bottom: rgb(244, 171, 35) 2px solid;
}
.indexTab{
    margin-left: 30px;
    padding: 10px;
    font-size: 1.2em;
}
.header {

}

.fl {
    float: left;
}

.fr {
    float: right;
}

.topBar {
    top: 5%;
    height: 35px;
    font-size: 12px;
    line-height: 30px;
    padding: 0 10px;
}

.topBar a {
    font-size: 14px;
    /*color: #FF0000;*/

    cursor: pointer;
}
#logoIndex{
    font-size: 2.5em;
    color: rgb(244, 171,35);
}
.header a {
    margin-left: 0;
    padding-right: 5px;
    line-height: 35px;
    /*background: rgba(255, 255, 255, 0.5);*/
    cursor: pointer;
}

.header .line {
    position: relative;
    top: 5px;
    margin-right: 5px;
    font-weight: lighter;
    font-size: 20pt;
    line-height: 20px;
    color: rgb(112, 112, 112);
}
nav ul li{
    height:64px;
}
.toIndexLink p{
    color: rgb(244, 171, 35);
}
.logo-name{
    margin-right: 30px;
}
.guideBar{
    box-shadow: none;
    min-width: 1000px;
}
.mainBtn {
    /*background: rgba(255, 255, 255, 0.5);*/
    margin: 30px 5px 30px 13px;

}
#search{
    position: relative;
    top: -1px;
}
