
/*-------------------------------------------居中公用类------------------------------------------------------*/
.comWidth {
    width: 970px;
    margin-left: auto;
    margin-right: auto;

}

/*---------------------------------------公用代码－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.z-depth {
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
}


/*箭头样式*/
.preBtn i,.nextBtn i,.preBtnOfTeams i,.preBtnOfProject i,.nextBtnOfProject i,.nextBtnOfTeams i{
    visibility: hidden;
    color: #6f6f6f;
    /*visibility: visible;*/
}
.preBtn:active{
    background-color: transparent;
    color:#6f6f6f;
}

/*----------------------------------导航栏-------------------------------------------------------------*/

#logo {
    height: 44px;
    margin: 10px;
}

.logo-name {
    margin: 10px 5px 5px 5px;
    font-size: 16px;
    line-height: 20px;
}

.search-bar {
    height:100%;
}

.nav-wrapper li a {
    /*width: 100px;*/
    text-align: center;
    height:64px;
}

.header {

}

.fl {
    float: left;
}

.fr {
    float: right;
}

.topBar {
    top: 5%;
    height: 35px;
    font-size: 12px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.5);
}

.topBar a {
    font-size: 14px;
    /*color: #FF0000;*/

    cursor: pointer;
}

.header a {
    margin-left: 0;
    padding-right: 5px;
    line-height: 35px;
    /*background: rgba(255, 255, 255, 0.5);*/
    cursor: pointer;
}

.header .line {
    position: relative;
    top: 5px;
    margin-right: 5px;
    font-weight: lighter;
    font-size: 20pt;
    line-height: 20px;
    color: gray;
}
nav ul li{
    height:64px;
}


.mainBtn {
    /*background: rgba(255, 255, 255, 0.5);*/
    margin: 30px 5px 30px 13px;

}

