p{
    margin: 0;
}

html{
    background: none;
}

/*导航栏的样式在这里修改*/
.header{
    min-width: 980px;
    height: 35px;
    background-color: rgb(242,242,242);
    padding: 2px;
}

.header a {
    padding-right: 5px;
    line-height: 35px;
    cursor: pointer;
}

.header a:link {
    text-decoration: none;
    color: rgb(112, 112, 112);
}

.header a:visited {
    color: rgb(112, 112, 112);
}

.aboutWe{
    float: left;
}

.userLogin{
    float: right;
}

/*首页导航栏*/
.guideBar{
    min-width: 980px;
    padding: 10px 30px 3px 0;
    height: 75px;
}

.nav{
    float: left;
}


#home_title{
    display: inline-block;
    color: rgb(244, 171, 35);
    font-size: 32px;
    margin-left: 100px;
}

#home_subtitle{
    display: inline-block;
    margin-left: 10px;
    color: rgb(244, 171, 35);
    font-size: 17px;
}

#homePage{
    font-size: 25px;
    color: rgb(244, 171, 35);
    display: inline-block;
    margin-left: 100px;
    height: 50px;
    border-bottom: 3px solid ;
    cursor: pointer;
}

#teamPage{
    font-size: 25px;
    color: rgb(244, 171, 35);
    display: inline-block;
    margin-left: 100px;
    height: 50px;
    cursor: pointer;
}

#studentPage{
    font-size: 25px;
    color: rgb(244, 171, 35);
    display: inline-block;
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
}

/*搜索框样式*/
.search_input_container{
    height: 200px;
    min-width: 980px;
    /*background-image: url('../../res/imgs/team/team_bg.svg');*/
    /*background-size: 100% auto;*/
    background-color: #e2e2e2;
}

.search_input_div{
    width: 960px;
    height: 200px;
    margin: auto;
    padding: 70px 50px;
    /*border: 1px solid #000;*/
}

/*产品的基本信息*/
input[type="text"]:focus:not([readonly]),input[type="text"].valid,textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: none;
    box-shadow:none;
    transition: all 0s;
}

input[type="text"]{
    border:none;
    font-size: 17px;
    color:#fff;
    height: 2rem;
    margin-bottom: 5px;
}

input[type="text"]:focus:not([readonly])+label,input[type="text"].valid+label{
    color:#fff;
}

.input-field label{
    left: 0;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}

input:-ms-input-placeholder {
    color:#fff;
}

input::-webkit-input-placeholder {
    color:#fff;
}

.search_input_content{
    width: 700px;
    border-bottom: 1px solid #fff;
    display: inline-block;

}

#search_input{
    width: 600px;
    margin-left: 15px;
    display: inline-block;
}

#search_icon{
    display: inline-block;
    vertical-align: middle;
}

.search_input_content.active{
    border-bottom: 2px solid #fff;
}

.search_btn_div{
    display: inline-block;
}

#search_btn{
    background-color: #fff;
    color: rgb(244,171,35);
}

/*搜索类别选择区域*/
.search_type_container{
    background-color: rgb(242,242,242);
    min-width: 980px;
    min-height: 150px;
}

.search_type_div{
    /*border: 1px solid;*/
    min-height: 150px;
    width: 100%;
    padding: 20px 0;
}

.type_tab_div{
    width: 600px;
    height: 50px;
    background-color: #fff;
}

.type_tab{
    /*border: 1px solid;*/
    width: 197px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    color: rgb(244,171,35);
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    cursor: pointer;
}

.type_tab.active{
    border-bottom: 3px solid rgb(244,171,35);
}

.sub_type_div{
    width: 100%;
    padding: 10px 20px 0 20px;
    /*border: 1px solid;*/
}

.sub_type{
    display: none;
}

.sub_type.active{
    display: block;
}

.type_title{
    background:transparent;
    font-size: 18px;
    margin-left: 10px;
}

.type_choice{
    background:transparent;
    color:rgb(112,112,112);
    margin-top: 8px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.type_choice.active{
    background-color: rgb(244,171,35);
    color: #fff;
}

/*最后的搜索结果*/
.search_result_div{
    min-width: 1200px;
    min-height: 185px;
    /*border: 1px solid;*/
    padding: 20px 20px 10px 20px;
}

.search_result_div:nth-child(2n) {
    background-color: rgb(242, 242, 242);
}

.job_search_result{
    min-height: 185px;
    overflow: hidden;
    /*border: 1px solid;*/

}

.job_name_div{
    float: left;
    width: 250px;
    min-height: 185px;
    /*border: 1px solid;*/
    padding: 50px 30px;
}

.job_name{
    font-size: 28px;
    color:rgb(112,112,112);
}

.job_city{
    color:rgb(180,180,180);
    font-size: 20px;
}

.job_salary{
    color: rgb(244,171,35);
    font-size: 20px;
    margin-top: 10px;
}

.job_type_div{
    float: left;
    width: 300px;
    min-height: 185px;
    /*border: 1px solid;*/
    padding: 55px 0;
}

.job_type{
    background-color: rgb(244,171,35);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 30px;
}

.job_request{
    color: rgb(112,112,112);
    font-size: 18px;
    margin-top: 15px;
}

.job_team_logo_div{
    float: right;
    width: 200px;
    min-height: 185px;
    /*border: 1px solid;*/
    padding: 20px 0;
    text-align: center;
}

.job_team_logo_div img{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.job_team_logo_div p{
    font-size: 20px;
    color: rgb(112,112,112);
}

.job_team_type_div{
    float: right;
    width: 300px;
    margin-top: 25px;
    align-items:center;
    /*border: 1px solid;*/
    /*padding: 35px 0;*/
}

.job_team_label{
    background-color: rgb(244,171,35);
    font-size: 17px;
    color:#fff;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 2px;
}

.team_search_result{
    min-height: 175px;
    overflow: hidden;
    /*border: 1px solid;*/
}

.team_logo_div{
    float: left;
    width: 200px;
    min-height: 115px;
    /*border: 1px solid;*/
    padding: 25px 0 0 0;
    text-align: center;
}

.team_logo_div img{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.team_logo_div p{
    font-size: 20px;
    color: rgb(112,112,112);
}

.team_slogan_div{
    float: left;
    width: 500px;
    min-height: 115px;
    /*border: 1px solid;*/
    padding: 45px 20px 10px  20px;
}

.team_slogan_div p{
    font-size: 20px;
    color: rgb(112,112,112);
    margin-left: 5px;
}

.team_label{
    background-color: rgb(244,171,35);
    font-size: 17px;
    color:#fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.team_link_div{
    float: right;
    width: 250px;
    min-height: 115px;
    /*border: 1px solid;*/
    padding: 50px 40px;
    margin-right: 50px;
}

.team_link_div a.btn{
    font-size: 22px;
    color:#fff;
    background-color: rgb(244,171,35);
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_search_result{
    min-height: 175px;
    overflow: hidden;
    /*border: 1px solid;*/
}

.product_name_div{
    float: left;
    width: 650px;
    min-height: 185px;
    /*border: 1px solid;*/
    padding: 50px 0 50px 30px;
}

.product_name{
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    color:rgb(112,112,112);
}

.product_label_div{
    margin-left: 20px;
    /*border: 1px solid;*/
    display: inline-block;

}

.product_label{
    font-size: 17px;
    color:#fff;
    background-color: rgb(244,171,35);
    border-radius: 10px;
    margin-left: 5px;
}

.product_slogan{
    font-size: 20px;
    color: rgb(112,112,112);
    margin-top: 13px;
}

.product_team_logo_div{
    float: right;
    width: 200px;
    min-height: 185px;
    /*border: 1px solid;*/
    padding: 20px 0;
    text-align: center;
}

.product_team_logo_div img{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.product_team_logo_div p{
    font-size: 20px;
    color: rgb(112,112,112);
}

.product_team_type_div{
    float: right;
    width: 300px;
    margin-top: 25px;
    align-items:center;
    /*border: 1px solid;*/
    /*padding: 35px 0;*/
}

.product_team_label{
    background-color: rgb(244,171,35);
    font-size: 17px;
    color:#fff;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 2px;
}

.change_page_div{
    min-width: 980px;
    height: 100px;
    padding: 30px 0;
    text-align: center;
}

.pagination li.active{
    background-color: #fff;
    text-decoration: underline;
}

.pagination li.active a{
    color: rgb(244, 171, 35);
}

.pagination li a{
    font-size: 22px;
    color: rgb(112,112,112);
}

.pagination li{
    vertical-align: middle;
    padding: 0 20px;
    cursor: pointer;
}

.pagination li i{
    vertical-align: top;
}





