/*flexy box 布局*/
body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.header{
    order: 0;
    flex: 0 1 auto;
    align-self: center;

}
.topBar .comWidth{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.aboutWe{
    flex: 1 1 50%;
    order: 0;
    align-self: flex-start;
}
.userLogin{
    order: 1;

}
.guideBar{
    order: 1;
    flex: 0 1 auto;
    align-self: center;
    width: 100%;
}
.bannerBar{
    order: 2;
    flex: 0 1 auto;
    align-self: center;
}
#searchDiv{
    order: 3;
    flex: 0 1 auto;
    align-self: center;
}
.hot-search{
    order: 4;
    flex: 0 1 auto;
    align-self: center;
}
.entryBar{
    order: 5;
    flex: 0 1 auto;
    align-self: center;
    width: 100%;
}
.search-bar{
    position: relative;
    width: 80%;
    margin: 10px auto;
}
.slideBar{
    position: relative;
    width: 800px;
    margin: 10px auto;
    /*margin-bottom: 30px;*/

}

.teamEntry,.personEntry{
    width: 45%;
    display: inline-block;
    text-align: center;
}
.teamEntry div,.personEntry div{
    margin-top: 30px;
}
.showYourselfBtn,.joinTeamBtn{
    background-color: #ff8F00;
    border-radius: 20px;
    color: white;
}
.material-icons{
    vertical-align:middle;
}
.findPersonBtn,.findTeamBtn{
    color: #353535;
    background: transparent;
}
.dividerBar{
    display: inline-block;
    position: relative;
    top: -60px;
}
.dividerBar .up,.dividerBar .down{
    width: 3px;
    height: 70px;
    background-color: lightgray;
    position: relative;
    left: 7px;
}


.bannerBig {
    background-color: white;
    height: 442px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.preBtn, .nextBtn {
    height: 100px;
    width: 100px;
    border: none;
    background-color: transparent;
    z-index: 100;

}

.preBtn {
    order: 0;
}

.nextBtn {
    order: 2;
}

.imgBox {
    position: relative;
    background-color: gray;
    height: 362px;
    width: 80%;
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    list-style-type: none;
    overflow: hidden;
    z-index: 90;
    flex: 1 0 80%;
    order: 1;
}

.imgList {
    list-style-type: none;
    width: 300%;
    height: 362px;
    margin: 0;
    padding-left: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.bannerBig .imgList img {
    display: block;
    height: 362px;
    width: 100%;
}

.bannerBig .imgBox li {
    width: 33.333333333%;
    list-style-type: none;
}

/*搜索标签的样式*/
.searchText,.searchItems{
    display: inline-block;
    margin: 15px;
}
.searchItems .chip{
    color: white;
    background-color: #ff8f00;
    font-size: 0.9em;
    margin-right: 10px;
}
.hot-search{
    text-align: center;
    width: 80%;
    margin: 15px auto;
}