/*flexy box 布局*/
body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.header{
    order: 0;
    flex: 0 1 auto;
    align-self: center;

}
.topBar .comWidth{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.aboutWe{
    flex: 1 1 50%;
    order: 0;
    align-self: flex-start;
}
.userLogin{
    order: 1;

}
.guideBar{
    order: 1;
    flex: 0 1 auto;
    align-self: center;
    width: 100%;
}
.bannerBar{
    order: 2;
    flex: 0 1 auto;
    align-self: center;
}
#searchDiv{
    order: 3;
    flex: 0 1 auto;
    align-self: center;
}
.searchIcon{
    position: relative;
    top:30px;
}
#closeIcon{
    position: absolute;
    top: 5px;
}
.hot-search{
    order: 4;
    flex: 0 1 auto;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.entryBar{
    order: 5;
    flex: 0 1 auto;
    align-self: center;
    margin: 80px auto 30px auto;
}
.search-bar{
    position: relative;
    width: 80%;
    margin: 10px auto;
}
.slideBar{
    position: relative;
    width: 800px;
    margin: 10px auto;
    /*margin-bottom: 30px;*/

}
.entryBar{
    width: 70%;
    min-width: 896px;
    height: 300px;
}
.teamEntry,.personEntry{
    width: 45%;

    display: inline-block;
    text-align: center;
    padding: 50px;
}
.teamEntry div,.personEntry div{
    margin-top: 30px;
}
.showYourselfBtn,.joinTeamBtn{
    background-color: #ff8F00;
    border-radius: 20px;
    color: white;
}
.material-icons{
    vertical-align:middle;
}
.findPersonBtn,.findTeamBtn{
    color: #353535;
    background: transparent;
}
.dividerBar{
    display: inline-block;
    position: relative;
    top: -63px;
}
.dividerBar .up,.dividerBar .down{
    width: 3px;
    height: 120px;
    background-color: lightgray;
    position: relative;
    left: 7px;
}


.bannerBig {
    height: 390px;
    background-color: white;
    margin-bottom: 10px;
}

.preBtn, .nextBtn {
    height: 100px;
    width: 100px;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 100;
    display: inline;
}

.preBtn {
    float: left;
    top: 141px;
}

.nextBtn {
    float: right;
    top: -341px;
}

.imgBox {
    position: relative;
    top: -100px;
    background-color: gray;
    height: 362px;
    width: 100%;
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    list-style-type: none;
    overflow: hidden;
    z-index: 90;
    margin-bottom: 20px;
}

.imgList {
    list-style-type: none;
    width: 300%;
    height: 362px;
    margin: 0;
    padding-left: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.bannerBig .imgList img {
    display: block;
    height: 362px;
    width: 100%;
}

.bannerBig .imgBox li {
    width: 33.333333333%;
    list-style-type: none;
}

/*搜索标签的样式*/
.searchText,.searchItems{
    display: inline-block;
    margin: 0 15px;
}
.chip{
    background: transparent;
    color: rgb(112,112,112);
    cursor: pointer;
}
.selectedChip{
    color: white;
    background-color: rgb(244, 171, 35);
    font-size: 0.9em;
    margin-right: 10px;
}

.hot-search{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.teamEntry{
    background-image: url('../../res/imgs/main/findTeam.svg');
    background-size:100% auto;
}
.personEntry{
    background-image: url('../../res/imgs/main/findMember.svg');
    background-size:100% auto;
}